.form-background {
	height: auto;
	margin: 3% auto;
	border-radius: 4px;
	padding: 15px;
}

.signup-redirect, .login-redirect {
	float: left;
}

.login-btn, .submit-btn, .save-btn, .form-submit {
	float: right;
	width: 15%;
	background-image: linear-gradient(to bottom,#57D1FF 0,$blue 100%);
	color: #fff;
}