// NavBar ----------------------------------------------------------------
.navbar {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.navbar-default {
    background-image: linear-gradient(to bottom, $blue 0, $blue 100%);
}

.navbar-default .navbar-brand {
    color: #fff
}

.navbar-nav{
    .dropdown{
        .dropdown-toggle {
            color: #fff;
        }
    }
}

// .nav-direct-link{
//     color: #fff;
// }

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.login-dropdown {
    color: $dark-blue;
}